*{
    font-family: 'Source Sans Pro',sans-serif;
}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track{
    background-color: #eaeaea;
}

::-webkit-scrollbar-thumb{
    background-color: #aaa;
}
::-webkit-scrollbar-thumb:hover{
    background-color: #999;
}


.title h1{
    font-weight: 400;
}

.search-input-group{
    position: relative;
}

.search-input-group .loader{
    position: absolute;
    top: 10%;
    right: 20px;
    width: 30px;
    display: none;
}

.card .card-title{
    text-transform: capitalize;
}

.card .image{
    width: 100%;
}

.card .image .image-comic{
    width: 100%;
}

/* Detail */
.card .image-detail{
    width: 100%;
}

@media screen and (max-width: 768px){
    .card-group{
        grid-template-columns: repeat(auto-fit,150px);
        gap: 5px;
    }
    
    .card-group .card-comic{
        width: 150px;
        margin: 0 !important;
    }
}


body {
    background-color: #eee
}
